@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Layout.css")" rel="Stylesheet" type="text/css" />
<div id="top" class="round">
    TOP</div>
<div id="middle">
    <div id="left">
        LEFT</div>
    <div id="body">
        BODY</div>
</div>
<div id="footer" class="round">
    FOOTER</div>
