<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="GoodsImagePath" value="D:\Eworm\Images\"/>
    </appSettings>
    <connectionStrings>
        <add name="eworm" connectionString="Server=localhost; User Id=root; Password=123456; Database=eworm;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
