@{
    ViewBag.Title = "监视爬虫工作状态";
}
@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/monitor.js")" ></script>
}
<div id="monitor">
    <div id="job-queue">
    </div>
    <div id="keyword-queue">
    </div>
</div>
