@{
    ViewBag.Title = "综合购物网站搜索系统 - 聚焦爬虫应用";
}
<div id="search">
    @using (Html.BeginForm("Search", "Crawler", FormMethod.Get))
    {
        <label for="q">输入关键字</label>
        <input name="q" type="text" />
        <input type="submit" value="搜索" />
    }
</div>
