/* File Created: 四月 24, 2012 */
html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Microsoft YaHei";
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0, 0 600, from(#e2e5e9), to(#efefef));
    background-repeat: no-repeat;
    color: #333;
    min-height: 600px;
    font-size: 14px;
    overflow-y: scroll;
}

a
{
    color: #333;
}

    a:hover
    {
        color: #be6918;
        text-decoration: none;
    }

#wrapper
{
    width: 90%;
    margin: 0 auto;
}

#header
{
    padding-left: 180px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 10px auto;
    background-image: url(Insect-robot.png);
    background-repeat: no-repeat;
}

    #header h1
    {
        font-weight: normal;
        margin: 5px 0;
    }

    #header h2
    {
        font-weight: normal;
        font-size: 14px;
        color: #666;
        margin: 0;
    }

    #header #links
    {
        float: right;
    }

#content
{
    background-color: white;
    background-color: RGBA(255,255,255,.8);
    box-shadow: 2px 2px 10px gray;
    padding: 40px;
}

#search-bar
{
    margin: 20px 0;
}

    #search-bar input#keyword
    {
        width: 400px;
        height: 30px;
        padding: 0 35px 0 5px;
        display: inline-block;
        margin: 0;
    }

    #search-bar input#search-button
    {
        display: inline-block;
        margin: 0;
        margin-left: -35px;
        height: 24px;
        width: 24px;
        text-indent: -10000px;
        background: url(search.png) 2px 2px no-repeat #aacfeb;
        border: 1px solid;
        border-color: #62aac6;
        border-radius: 3px;
    }

        #search-bar input#search-button:hover,
        #search-bar input#search-button:focus
        {
            background-color: #d8e8f3;
        }

    #search-bar #advance-search
    {
        margin-left: 15px;
    }

div.pager
{
    margin: 20px 0;
}

    div.pager a, div.pager span
    {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
    }

    div.pager a
    {
        text-decoration: none;
        color: white;
        background-color: #dd8526;
        text-shadow: 1px 1px 1px #874e17;
    }

        div.pager a:hover
        {
            background-color: #f6ac15;
        }

    div.pager span
    {
        background-color: #DDD;
    }


div.goods-section
{
    display: inline-block;
    float: left;
    width: 240px;
    height: 360px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid Transparent;
    font-size: 12px;
}

    div.goods-section:hover
    {
        border-bottom: 2px solid Orange;
    }

        div.goods-section:hover div.goods-image
        {
            border: 1px solid orange;
            box-shadow: 0 0 5px orange;
        }


div.goods-image
{
    height: 218px;
    line-height: 218px;
    width: 218px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}


    div.goods-image img
    {
        max-height: 218px;
        max-width: 218px;
        margin: auto;
        vertical-align: middle;
        border: none;
    }

div.goods-section span
{
    padding: 0 5px;
    color: blue;
}

div.goods-title
{
}

    div.goods-title h2
    {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 5px;
        height: 51px;
    }

div.goods-price
{
    color: red;
    float: left;
    line-height: 24px;
    vertical-align: bottom;
}

    div.goods-price span
    {
        font-size: large;
        color: red;
    }

div.sell-amount
{
    float: right;
    margin-bottom: 0;
    line-height: 24px;
    vertical-align: bottom;
}

div.seller-credit
{
    clear: left;
    float: left;
}

    div.seller-credit:after
    {
        content: '.';
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        zoom: 1;
        clear: left;
    }


div.goods-detail
{
    clear: right;
    float: right;
    vertical-align: bottom;
}

div#search-result:after,
div#search-result::after,
div.pager:before,
div.pager::before
{
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    zoom: 1;
    clear: both;
}

div#job-queue
{
    width: 60%;
    float: left;
    margin: 0;
    padding: 0;
}

div#keyword-queue
{
    float: left;
    width: 38%;
    border-left: 1px solid gray;    
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

    div#job-queue p, div#keyword-queue p
    {
        font-size: 12px;
        margin: 3px;
    }

        div#job-queue p.current-job
        {
            color: red;
        }

div#monitor:after
{
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    zoom: 1;
    clear: both;
}

#footer
{
    text-align: center;
    font-family: "Arial";
    font-size: small;
    text-align: center;
    margin-top: 50px;
}
.dpic
{
    border-bottom: 2px solid Transparent;
    display: inline-block;
    font-size: 12px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 300px;
    border-style: groove;
    border-width: thin;
    border-color: #999999;
}

.dproperty {
    border-bottom: 2px solid Transparent;
    display: inline-block;
    font-size: 12px;
    height: 360px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50%;
    margin-top:5px;
}


.price
{
    font-family: 微软雅黑;
    font-size: x-large;
    font-weight: lighter;
    font-variant: normal;
    color: #FF0000;
    border-style: inherit;
}
.others
{
    font-family: 微软雅黑;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}
.dtitle
{
    font-family: 华文中宋;
    font-size: x-large;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
}
.buyit
{
    font-family: 微软雅黑;
    font-size: x-large;
    background-color: #C0C0C0;
    float: right;
    color: #FF0000;
}
